.nav.light{
  background-color: rgb(241, 241, 241);
  border: 1px solid black;
}
.nav.dark{
  background-color: rgb(8, 8, 8);
    color :white;
    border: 1px solid white;
}
.nav{
  display: flex;
  justify-content:space-between;
  padding: 20px;
  margin: auto;
  align-items: center;
  border-radius: 25px;

}
.card{
  padding: 20px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
    border-radius: 25px;
  
}
.card.light{
  background-color: rgb(241, 241, 241);
  color :rgb(0, 0, 0);
  border: 1px solid black;
}
.card.dark{
  background-color: black;
  color :white;
  border: 1px solid white;
}